/* css/style.css */
:root {
  --font-family: "Fira Sans", sans-serif;
  --font-family-alternative: "Source Serif Pro", sans-serif;
  --font-family-monospaced: "Fira Mono", monospace;
  --font-family-editor: "Source Code Pro", monospace;
  --z-index-editor: 0;
  --z-index-aside: 1;
  --z-index-header: 2;
  --z-index-floating-ui: 3;
  --z-index-keyboard-overlays: 10;
  --z-index-autocomplete: 8;
  --z-index-overlay: 4;
  --color-transparent-black: hsla(0, 0%, 0%, 0.5);
  --color-transparent-white: hsla(0, 0%, 100%, 0.5);
  --color-background: #fff;
  --color-background-darker: #d9d9d9;
  --color-background-darkest: #ccc;
  --color-text: hsl(0, 0%, 27%);
  --color-text-lighter: hsl(0, 0%, 33%);
  --color-text-lightest: hsl(0, 0%, 47%);
  --color-links: hsl(203, 100%, 32%);
  --color-links-hover: hsl(203, 100%, 22%);
  --color-links-transparent: hsla(203, 100%, 32%, 0.5);
  --color-headings: #333;
  --color-error: hsl(0, 100%, 30%);
  --color-warning: hsl(52, 84%, 56%);
  --color-code-background: #f8f8f8;
  --color-sidebar-text: #444;
  --color-sidebar-text-hover: var(--color-links);
  --color-sidebar-background: hsl(0, 0%, 96%);
  --color-sidebar-border: hsl(0, 0%, 87%);
  --color-autocomplete-match: #ffd27c;
  --color-header: hsl(203, 100%, 32%);
  --color-header-darker: hsl(203, 100%, 22%);
  --color-header-light: hsl(203, 56%, 45%);
  --color-header-tinted: hsl(203, 47%, 66%);
  --color-header-text: hsl(0, 0%, 100%);
  --color-header-text-half: hsla(0, 0%, 100%, 0.5);
  --color-status-red: var(--color-error);
  --color-status-yellow: var(--color-warning);
  --color-status-green: hsl(151, 100%, 25%);
  --color-status-gray: #aaa;
  --color-notification: #fff;
  --color-notification-info: hsl(151, 100%, 25%);
  --color-notification-error: hsl(0, 100%, 30%);
  --color-notification-warning: hsl(52, 84%, 56%);
  --color-table-header-text: #666;
  --color-table-header-background: #e6e6e6;
  --color-table-border: #f2f2f2;
  --color-treetable-expander: #afc1d3;
  --color-budget-negative: #af3d3d;
  --color-budget-positive: #3daf46;
  --color-budget-zero: #ffb900;
  --color-chart-axis: #999;
  --color-editor-comment: #998;
  --color-editor-trailing-whitespace: rgba(255, 199, 199, 0.5);
  --color-editor-directive: #333;
  --color-editor-class: #b84;
  --color-editor-date: #099;
  --color-editor-constant: #008080;
  --color-editor-account: var(--color-links);
  --color-editor-invalid: #333;
  --color-editor-activeline: #ffc;
  --color-mobile-button-text: #000;
  --color-ingest: #cefac1;
  --color-placeholder: var(--color-text-lightest);
  --background-placeholder: var(--color-background);
  --overlay-wrapper-background: rgba(0, 0, 0, 0.5);
}
.journal .balance {
  --entry-type-color: #cfc;
}
.journal .close {
  --entry-type-color: hsl(0, 0%, 70%);
}
.journal .custom {
  --entry-type-color: #fff3ab;
}
.journal .document {
  --entry-type-color: #ffc8ff;
}
.journal .note {
  --entry-type-color: #aad0ff;
}
.journal .open {
  --entry-type-color: hsl(0, 0%, 92%);
}
.journal .other {
  --entry-type-color: #cff;
}
.journal .pad {
  --entry-type-color: #8ff;
}
.journal .pending {
  --entry-type-color: #f8a;
}
.journal .query {
  --entry-type-color: #aad0ff;
}
.journal .budget {
  --entry-type-color: #ffddae;
}
.journal {
  --color-journal-postings: hsl(0, 0%, 92%);
  --color-journal-metadata: hsl(210, 44%, 67%);
  --color-journal-tag: hsl(210, 61%, 64%);
  --color-journal-link: hsl(203, 39%, 85%);
  --color-journal-posting-indicator: hsl(203, 24%, 80%);
  --color-journal-metadata-indicator: hsl(203, 24%, 40%);
  --color-journal-hover-highlight: #f5f5f59c;
}

/* css/base.css */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
}
p,
ol,
ul,
dl,
table,
pre,
hr {
  padding: 0;
  margin: 0 0 1rem;
  list-style-type: none;
}
dl {
  margin: 0;
}
code,
pre {
  font-family: var(--font-family-monospaced);
  white-space: pre;
  background-color: var(--color-code-background);
  border: 1px solid var(--color-background-darker);
  border-radius: 3px;
}
code {
  padding: 0 4px;
  line-height: 1;
}
pre {
  padding: 6px 10px;
  overflow: auto;
}
pre code {
  padding: 0;
  margin: 0;
  line-height: inherit;
  border: 0;
}
.pre {
  white-space: pre-wrap;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 2px 5px;
  white-space: nowrap;
}
td.num,
th.num {
  width: 7em;
  font-family: var(--font-family-monospaced);
  color: var(--color-text);
  text-align: right;
}
thead th,
tfoot td {
  font-weight: 400;
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
  border: 1px solid var(--color-table-header-background);
}
tbody tr:nth-child(2n) {
  background-color: var(--color-sidebar-background);
}
tbody td {
  border: 1px solid var(--color-table-border);
}
table pre {
  padding: 0;
  margin: 0;
  overflow: inherit;
  background-color: inherit;
  border: 0;
}
h2,
h3 {
  padding: 0;
  margin: 0 0.5rem 1rem 0;
  font-weight: 500;
  color: var(--color-headings);
}
h2 {
  font-size: 1.2857em;
}
h3 {
  font-size: 1.1429em;
}
h4,
h5 {
  font-size: 1em;
}
hr {
  border: 1px solid var(--color-background-darker);
}
b,
strong {
  font-weight: 500;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--color-links-hover);
}
a:link,
a:visited {
  color: var(--color-links);
}
a:active,
a:focus,
a img {
  border: 0;
  outline: none;
}
.fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
button,
input,
textarea {
  font: inherit;
  color: var(--color-text);
}
input,
textarea {
  padding: 6px 10px;
  border: 1px solid var(--color-background-darkest);
}
label {
  cursor: pointer;
}
select {
  font-size: inherit;
}
input:invalid {
  border: 1px solid var(--color-error);
  outline: none;
  box-shadow: none;
}
input[type=text]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
  display: none;
}
input[type=text]::placeholder {
  color: var(--color-placeholder);
  opacity: 1;
}
input[type=text]::placeholder:focus {
  color: var(--color-placeholder);
}
input[type=text]:placeholder-shown {
  background-color: var(--background-placeholder);
}
button,
.button {
  padding: 6px 10px;
  color: var(--color-background);
  cursor: pointer;
  background-color: var(--color-header);
  border: 0;
  border-radius: 0;
  outline: 0;
}
h3 .button,
h3 button {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: normal;
}
a.button {
  display: inline-block;
  padding: 2px 6px;
}
button:focus,
button:active,
button:hover,
.button:focus,
.button:active,
.button:hover {
  background-color: var(--color-header-darker);
  box-shadow: 0 0 5px var(--color-header);
}
button:disabled,
button.inactive,
button.muted,
.button:disabled,
.button.inactive,
.button.muted {
  color: var(--color-text);
  background-color: var(--color-background-darker);
}
button:disabled:focus,
button:disabled:active,
button:disabled:hover,
button.inactive:focus,
button.inactive:active,
button.inactive:hover,
button.muted:focus,
button.muted:active,
button.muted:hover,
.button:disabled:focus,
.button:disabled:active,
.button:disabled:hover,
.button.inactive:focus,
.button.inactive:active,
.button.inactive:hover,
.button.muted:focus,
.button.muted:active,
.button.muted:hover {
  filter: brightness(90%);
  box-shadow: 0 0 5px var(--color-background-darker);
}
button.link,
.button.link {
  padding: 0;
  color: var(--color-links);
  background: none;
}
button.link:focus,
button.link:active,
button.link:hover,
.button.link:focus,
.button.link:active,
.button.link:hover {
  filter: brightness(90%);
  box-shadow: none;
}
button.round,
.button.round {
  height: 1.5em;
  padding: 0 0.5em;
  border-radius: 15px;
}
.button:link,
.button:visited {
  height: 100%;
  color: var(--color-background);
}
.hidden.hidden {
  display: none;
}
:root {
  --transitions: all 0.2s ease-out;
}
.dragover {
  background-color: var(--color-links-transparent);
}
.headerline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 1em;
}
.headerline h3 {
  display: inline-block;
  margin: 0 1.5em 0 0;
}
.headerline a {
  color: var(--color-text-lighter);
}
.headerline a:hover {
  color: var(--color-text);
}
kbd {
  display: inline-block;
  padding: 3px 6px;
  margin: 0 1px;
  font: 0.8em var(--font-family-monospaced);
  color: var(--color-text-lighter);
  background-color: var(--color-background);
  border: solid 1px var(--color-background-darker);
  border-bottom-color: var(--color-background-darkest);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--color-background-darkest);
}
.keyboard-tooltip {
  position: absolute;
  z-index: var(--z-index-keyboard-overlays);
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  color: var(--color-background);
  text-align: center;
  background-color: var(--color-text);
  opacity: 0.9;
}
.spacer {
  flex-grow: 1;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: -10px -20px;
}
.column {
  flex: 1;
  margin: 5px;
}
.column h3 {
  text-align: center;
}
.left {
  float: left;
  margin-right: 20px;
}
.right {
  float: right;
}
.status-indicator {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 5px;
  border-radius: 6px;
}
td .status-indicator {
  float: right;
  margin-top: 3px;
  margin-left: 3px;
}
.status-indicator:hover {
  cursor: pointer;
}
.status-indicator.status-red {
  background-color: var(--color-status-red);
}
.status-indicator.status-yellow {
  background-color: var(--color-status-yellow);
}
.status-indicator.status-green {
  background-color: var(--color-status-green);
}
.status-indicator.status-gray {
  background-color: var(--color-status-gray);
}
.statistics-update-activity .indicator-header {
  padding-left: 0;
}
.statistics-update-activity .uptodate-indicator {
  text-align: center;
}
.statistics-update-activity .status-indicator {
  margin: 0 auto;
}
[data-sort] {
  position: relative;
  padding-right: 18px;
  cursor: pointer;
}
[data-order=desc]::after {
  position: absolute;
  top: 12px;
  right: 4px;
  display: block;
  content: "";
  border-top: 5px solid var(--color-text-lightest);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
[data-order=asc]::after {
  position: absolute;
  top: 10px;
  right: 4px;
  display: block;
  content: "";
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-text-lightest);
  border-left: 5px solid transparent;
}
.options td {
  text-align: left;
}
.options td:nth-child(1) {
  font-weight: 500;
}
.options td:nth-child(2) {
  white-space: normal;
}

/* css/layout.css */
:root {
  --header-height: 50px;
  --aside-width: 160px;
}
body {
  padding: var(--header-height) 0 0 var(--aside-width);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 0 7px 0 10px;
  color: var(--color-header-text);
  background-color: var(--color-header);
}
article {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.5em;
}
.fixed-fullsize-container {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  left: var(--aside-width);
}
@media (max-width: 767px) {
  .fixed-fullsize-container {
    left: 0;
  }
}

/* css/aside.css */
.aside-button {
  z-index: var(--z-index-floating-ui);
  display: none;
  background-color: var(--color-sidebar-background);
}
.aside-button:hover {
  background-color: var(--color-sidebar-background);
}
aside {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  z-index: var(--z-index-aside);
  width: var(--aside-width);
  padding-top: 0.5rem;
  margin: 0;
  overflow-y: auto;
  color: var(--color-sidebar-text);
  background-color: var(--color-sidebar-background);
  border-right: 1px solid var(--color-sidebar-border);
}
aside .navigation {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-sidebar-border);
}
aside .navigation:last-child {
  margin-bottom: 0;
  border: none;
}
aside .navigation a {
  display: block;
  padding: 0.25em 0.5em 0.25em 1em;
  color: inherit;
}
aside .navigation a.selected,
aside .navigation a:hover {
  color: var(--color-sidebar-text-hover);
  background-color: var(--color-sidebar-border);
}
aside .navigation .secondary {
  padding: 4px 9px 2px 9px;
  line-height: 23px;
  color: inherit;
  background-color: var(--color-sidebar-background);
}
aside .navigation .add-transaction-button {
  font-size: 23px;
}
aside .navigation li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
aside .navigation li a:first-child {
  flex: 1;
}
aside .navigation .error {
  background-color: var(--color-error);
}
aside .navigation li.error a {
  color: var(--color-sidebar-background);
}
aside .navigation .submenu li a {
  padding-left: 35px;
}
aside .navigation .submenu {
  width: 100%;
  margin: 0;
}
aside .navigation .submenu li {
  font-size: 0.95em;
  line-height: 0.95em;
}
aside .navigation .submenu a.selected,
aside .navigation .submenu a:hover {
  filter: brightness(85%);
}
aside .navigation .error a.selected,
aside .navigation .error a:hover {
  background-color: var(--color-error);
  filter: brightness(80%);
}
aside .navigation .bubble {
  float: right;
  padding: 0 8px;
  font-size: 0.9em;
  color: var(--color-sidebar-text);
  background-color: var(--color-sidebar-border);
  border-radius: 12px;
}
aside .navigation .error .bubble {
  background-color: var(--color-transparent-white);
}

/* css/charts.css */
.chart-mode span {
  margin-right: 0;
  color: var(--color-text);
  background-color: var(--color-background-darker);
}
.chart-mode input {
  display: none;
}
.chart-mode span:hover {
  color: var(--color-background);
}
.chart-mode input:checked + span {
  color: var(--color-background);
  background-color: var(--color-header);
}
.toggle-chart {
  height: 22px;
  padding: 2px 6px;
  margin: 0;
}
.toggle-chart::before {
  display: block;
  content: "";
  border: 0;
  border-top: 13px solid var(--color-background);
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.toggle-chart.closed::before {
  border: 0;
  border-right: 9px solid transparent;
  border-bottom: 13px solid var(--color-background);
  border-left: 9px solid transparent;
}
svg text {
  font-family: var(--font-family);
  fill: var(--color-text-lightest);
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: var(--color-chart-axis);
  shape-rendering: crispEdges;
}
svg .axis.y line {
  opacity: 0.2;
  stroke: var(--color-chart-axis);
}
svg .axis.y path.domain {
  opacity: 0.2;
}
.tooltip {
  position: absolute;
  z-index: var(--z-index-floating-ui);
  min-width: 5em;
  padding: 0.5em;
  font-family: var(--font-family-monospaced);
  text-align: center;
  pointer-events: none;
  background: var(--color-background);
  border: 1px solid var(--color-background-darkest);
  box-shadow: 0 0 5px var(--color-background-darker);
  opacity: 0;
  transform: translate(-50%, -100%);
}
.tooltip::before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  content: "";
  border: 15px solid transparent;
  border-top-color: var(--color-background-darkest);
}
.tooltip em {
  display: block;
  margin-top: 5px;
  font-family: var(--font-family);
  color: var(--color-text-lightest);
}

/* css/components.css */
details {
  display: block;
  min-width: 400px;
  margin-bottom: 0.5em;
  border: 1px solid var(--color-table-border);
}
details.inactive {
  opacity: 0.5;
}
details summary {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 30px;
  cursor: pointer;
  background-color: var(--color-sidebar-background);
}
details summary::before {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-right: 0.5em;
  content: "";
  border-top: 9px solid var(--color-treetable-expander);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: translateY(-50%) rotate(270deg);
}
details summary::-webkit-details-marker {
  display: none;
}
details.error summary {
  background-color: var(--color-error);
}
details[open] summary::before {
  transform: translateY(-50%) rotate(0deg);
}
details summary pre {
  display: inline-block;
  padding: 3px 6px;
  margin: 0;
}
details > div {
  padding: 0.5em;
}

/* css/editor.css */
.cm-gutters {
  background: var(--color-sidebar-background);
  border-right: 1px solid var(--color-sidebar-border);
}
.cm-wrap {
  z-index: var(--z-index-editor);
}
.cm-wrap.cm-wrap .cm-scroller {
  font-family: var(--font-family-editor);
}
.cm-wrap.cm-wrap .cm-placeholder {
  color: var(--color-placeholder);
}

/* css/grid.css */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -0.25rem;
}
.flex-row > * {
  margin: 0.25rem;
}
.flex-row > label {
  display: contents;
}
.flex-row > label > * {
  margin: 0.25rem;
}
.flex-row .grow {
  flex-grow: 1;
}
.remove-row {
  opacity: 0;
}
.flex-row:hover .remove-row {
  opacity: 1;
}

/* css/fonts.css */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: normal;
  src: url(./source-code-pro-all-400-H2ZRUOXK.woff2) format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: url(./source-code-pro-all-500-V4QI2WG4.woff2) format("woff2");
}
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: normal;
  src: url(./fira-mono-all-400-2PWBYKL3.woff2) format("woff2");
}
@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  src: url(./fira-mono-all-500-AH7DZHYO.woff2) format("woff2");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url(./fira-sans-all-400-VVR2JUDC.woff2) format("woff2");
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url(./fira-sans-all-500-FUVG6MDT.woff2) format("woff2");
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: normal;
  src: url(./source-serif-pro-latin-400-KGFIQD54.woff2) format("woff2");
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  src: url(./source-serif-pro-latin-600-H3UMGRZW.woff2) format("woff2");
}

/* css/header.css */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.fava-icon.loading {
  padding: 0;
  border-top: 2px solid var(--color-header-text);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
.fava-icon.loading path {
  opacity: 0;
}
.beancount-files ul {
  max-height: 400px;
  margin-bottom: 0;
  overflow-y: auto;
}
.beancount-files a {
  display: block;
  padding: 8px 12px 8px 28px;
  cursor: pointer;
}
.beancount-files a.active,
.beancount-files a:hover {
  color: var(--color-background);
  background-color: var(--color-links);
}
.beancount-files a.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAAQMGHjE8P0Bfi6Omt9Hi7/XCzsNoAAAAO0lEQVQI143HSxZAMBAAwQ5CfEPf/7AWHmZH7Qr+aMcmZHONcQa6PV9ZEnBofsKg1jtQ9A2UGOinxKcT2psCetpsGdwAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 9px center;
}
h1 {
  display: block;
  flex: 1;
  max-height: var(--header-height);
  padding: calc((var(--header-height) - 24px) / 2) 10px;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-header-text);
}
h1 .droptarget {
  padding: 0.6em;
  margin-left: -0.6em;
}
h1 a:hover,
h1 a:link,
h1 a:visited {
  color: inherit;
}
h1 .last-activity {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.8;
}
h1 .status-indicator {
  width: 10px;
  height: 10px;
  margin: 0 0 0 10px;
  border-radius: 10px;
}
h1 .status-indicator.status-gray {
  margin-left: 0;
}
.page-title::before {
  margin: 0 10px;
  font-weight: normal;
  color: var(--color-header-text-half);
  content: "\203a";
}
.reload-page {
  padding-right: 12px;
  padding-left: 12px;
  margin-top: -8px;
  margin-left: 20px;
  background-color: var(--color-warning);
}
.beancount-files {
  position: absolute;
  top: var(--header-height);
  left: 19px;
  display: none;
  width: 20em;
  color: var(--color-links);
  background-color: var(--color-background);
  border: 1px solid var(--color-background-darker);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 3px 6px var(--color-transparent-black);
}
h1:hover .beancount-files {
  display: block;
}

/* css/help.css */
:root {
  --color-help-sidebar: #f8f8f8;
  --color-help-sidebar-border: #eaeaea;
  --help-max-width: 600px;
}
.help {
  max-width: calc(var(--help-max-width) + 160px);
}
.help-text {
  max-width: var(--help-max-width);
  font: 16px var(--font-family-alternative);
}
.help-text h2,
.help-text h3,
.help-text h4,
.help-text h5 {
  font-family: var(--font-family);
}
.help-text > div {
  margin-bottom: 1em;
}
.help-text .cm-wrap {
  background-color: var(--color-code-background);
}
.help-text code {
  font-size: 0.9em;
}
.help-text ul {
  padding-left: 2em;
}
.help-text li {
  list-style-type: disc;
}
.help-sidebar {
  float: right;
  padding: 10px 10px 0;
  margin: 0 0 10px 10px;
  font-size: 1.1em;
  background-color: var(--color-help-sidebar);
  border: 1px solid var(--color-help-sidebar-border);
}
.help-sidebar a:hover,
.help-sidebar a.selected {
  font-weight: 500;
}

/* css/journal-table.css */
.entry-filters {
  justify-content: flex-end;
}
.journal {
  margin-top: 0.25rem;
}
.flex-table p,
.flex-table li,
.flex-table ul,
.flex-table ol {
  padding: 0;
  margin: 0;
}
.flex-table p {
  display: flex;
}
.flex-table p > span {
  flex-shrink: 0;
  padding: 2px 4px;
  margin: 0;
}
.flex-table .num {
  font-family: var(--font-family-monospaced);
  color: var(--color-text);
  text-align: right;
}
.flex-table .number {
  white-space: nowrap;
}
.flex-table .head p > span {
  padding: 3px 4px;
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
}
.flex-table .head .num {
  font-family: var(--font-family);
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
}
.flex-table .totals p > span {
  color: var(--color-table-header-text);
  background-color: var(--color-table-header-background);
}
.journal p,
.journal dl {
  border-bottom: thin solid var(--color-table-border);
}
.journal .payee {
  cursor: pointer;
}
.journal .dest-account {
  flex-grow: 1;
  text-align: right;
  color: gray;
  font-size: 0.8em;
}
.journal .dest-account .light {
  color: var(--color-journal-link);
}
.journal .postings {
  font-size: 0.9em;
  background-color: var(--color-journal-postings);
  opacity: 0.8;
}
.journal .postings .num {
  overflow: hidden;
  line-height: 16px;
}
.journal > li,
.journal.show-custom .custom.budget,
.journal.show-document .document.discovered,
.journal.show-document .document.linked,
.journal .metadata,
.journal .postings {
  display: none;
}
.journal .head,
.journal.show-balance .balance,
.journal.show-close .close,
.journal.show-custom .custom,
.journal.show-document .document,
.journal.show-note .note,
.journal.show-open .open,
.journal.show-pad .pad,
.journal.show-query .query,
.journal.show-metadata .metadata,
.journal.show-postings .postings,
.transaction.show-postings .postings,
.transaction.show-postings .metadata {
  display: block;
}
.journal.show-transaction.show-cleared .transaction.cleared,
.journal.show-transaction.show-pending .transaction.pending,
.journal.show-transaction.show-other .transaction.other,
.journal.show-document.show-discovered .document.discovered,
.journal.show-document.show-linked .document.linked,
.journal.show-custom.show-budget .custom.budget {
  display: block;
}
.journal .transaction:hover {
  background: var(--color-journal-hover-highlight);
}
.journal .metadata {
  padding: 2px 0;
  margin: 0;
  font-size: 0.9em;
}
.journal .metadata dt {
  float: left;
  width: auto;
  min-width: 4rem;
  margin-right: 6px;
  margin-left: 9rem;
  color: var(--color-journal-metadata);
  cursor: pointer;
}
.journal .metadata dd {
  margin-left: 15rem;
  cursor: pointer;
}
.journal p > .num {
  width: 9rem;
  white-space: pre;
  border-left: 1px solid var(--color-table-border);
}
.journal .datecell,
.journal .flag {
  text-align: center;
  background-color: var(--entry-type-color);
}
.journal .datecell {
  width: 5.5rem;
  white-space: nowrap;
}
.journal .flag {
  width: 3rem;
}
.journal .change {
  font-weight: 500;
}
.journal .description {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 8px;
}
@media (max-width: 767px) {
  .journal .description {
    flex-direction: column;
    min-width: 200px;
  }
}
.journal .description .separator {
  width: 4px;
  height: 4px;
  padding: 2px;
  margin: 0 6px;
  background-color: var(--color-text-lighter);
}
.journal .description .num {
  margin: 0 5px;
}
.journal .tag,
.journal .link {
  margin-left: 8px;
  font-size: 0.9em;
  cursor: pointer;
}
.journal .tag {
  color: var(--color-journal-tag);
}
.journal .link {
  color: var(--color-journal-link);
}
.journal .bal {
  background-color: var(--entry-type-color);
}
.journal a:hover {
  filter: brightness(80%);
}
.journal .filename,
.journal .url {
  font-family: var(--font-family-monospaced);
  font-size: 0.9em;
}
.journal .document .filename {
  margin-left: 1em;
}
.journal .indicators {
  display: flex;
  flex-shrink: 3;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.journal .indicators span {
  min-width: 6px;
  height: 6px;
  padding: 0;
  margin-right: 4px;
  background-color: var(--color-journal-posting-indicator);
  border-radius: 3px;
}
.journal .indicators .pending,
.journal .indicators .other {
  background-color: var(--entry-type-color);
}
.journal .indicators .metadata-indicator {
  height: 16px;
  padding: 0 6px;
  font-size: 10px;
  line-height: 16px;
  color: var(--color-journal-metadata-indicator);
  text-transform: lowercase;
  border-radius: 20px;
}

/* css/media-mobile.css */
@media (max-width: 767px) {
  body {
    padding: 0;
    transition: var(--transitions);
  }
  header {
    position: inherit;
    flex-wrap: wrap;
    height: auto;
    padding-left: 46px;
  }
  h1 {
    padding: 8px;
  }
  aside {
    top: 0;
    margin-left: calc(-1 * var(--aside-width));
    transition: var(--transitions);
  }
  aside.active {
    margin-left: 0;
  }
  .aside-button.aside-button {
    transition: var(--transitions);
  }
  .navigation .secondary {
    transition: var(--transitions);
  }
  .aside-button,
  .navigation .add-transaction-button {
    position: fixed;
    left: 0;
    width: 42px;
    height: 42px;
    padding: 6px 4px;
    text-align: center;
    border-color: var(--color-sidebar-border);
    border-style: solid;
    border-width: 0 1px 1px 0;
  }
  .navigation .add-transaction-button {
    top: 42px;
    font-size: 30px;
    color: var(--color-mobile-button-text);
  }
  aside.active .add-transaction-button {
    left: var(--aside-width);
  }
  .aside-button {
    top: 0;
    display: block;
    margin-left: 0;
  }
  .aside-button.active {
    left: var(--aside-width);
    background-color: var(--color-sidebar-background);
    box-shadow: none;
  }
}

/* css/media-print.css */
@media print {
  body {
    padding: 0;
  }
  header {
    position: relative;
  }
  header > * {
    display: none;
  }
  header h1 {
    display: block;
  }
  aside,
  .aside-button,
  .toggle-chart-container {
    display: none;
  }
}

/* css/notifications.css */
.notifications {
  position: fixed;
  top: calc(var(--header-height) + 10px);
  right: 10px;
  width: 400px;
}
.notifications li {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 0.5em;
  color: var(--color-notification);
  cursor: pointer;
  background-color: var(--color-notification-info);
}
.notifications .error {
  background-color: var(--color-notification-error);
}
.notifications .warning {
  color: var(--color-text);
  background-color: var(--color-notification-warning);
}

/* css/tree-table.css */
.tree-table.fullwidth {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}
.tree-table p {
  margin-top: -1px;
}
.tree-table p > span {
  margin-right: -1px;
  border: 1px solid var(--color-table-header-background);
}
.tree-table .account-cell {
  display: flex;
  flex: 1;
  align-items: center;
  min-width: 14em;
  max-width: 30em;
}
.tree-table .account-cell.depth-1 {
  min-width: 13em;
  max-width: 29em;
  margin-left: 1em;
}
.tree-table .account-cell.depth-2 {
  min-width: 12em;
  max-width: 28em;
  margin-left: 2em;
}
.tree-table .account-cell.depth-3 {
  min-width: 11em;
  max-width: 27em;
  margin-left: 3em;
}
.tree-table .account-cell.depth-4 {
  min-width: 10em;
  max-width: 26em;
  margin-left: 4em;
}
.tree-table .account-cell.depth-5 {
  min-width: 9em;
  max-width: 25em;
  margin-left: 5em;
}
.tree-table .account-cell.depth-6 {
  min-width: 8em;
  max-width: 24em;
  margin-left: 6em;
}
.tree-table .account-cell.depth-7 {
  min-width: 7em;
  max-width: 23em;
  margin-left: 7em;
}
.tree-table .account-cell.depth-8 {
  min-width: 6em;
  max-width: 22em;
  margin-left: 8em;
}
.tree-table .account-cell.depth-9 {
  min-width: 5em;
  max-width: 21em;
  margin-left: 9em;
}
.tree-table .account-cell a {
  margin-left: 1em;
}
.tree-table .has-children {
  cursor: pointer;
}
.tree-table .has-children::before {
  margin: 0 -10px 0 0;
  content: "";
  border-top: 5px solid var(--color-treetable-expander);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.tree-table .num {
  width: 10em;
}
.tree-table .num a {
  display: block;
  color: inherit;
}
.tree-table .other {
  width: 10em;
}
.tree-table .other a {
  display: block;
  color: inherit;
}
.tree-table .balance-children {
  display: block;
  opacity: 0.7;
}
.tree-table .has-balance .balance {
  display: block;
}
.tree-table .has-balance .balance-children {
  display: none;
}
.tree-table .toggled ol {
  display: none;
}
.tree-table .toggled .balance {
  display: none;
}
.tree-table .toggled .balance-children {
  display: block;
  color: var(--color-text);
}
.tree-table .toggled .has-children::before {
  transform: rotate(270deg);
}
.tree-table .expand-all {
  margin-left: 15px;
  font-weight: normal;
  color: inherit;
  opacity: 0.5;
}
.tree-table .diff {
  margin-right: 3px;
  font-size: 0.9em;
  color: var(--color-budget-zero);
  white-space: nowrap;
}
.tree-table .diff.negative {
  color: var(--color-budget-negative);
}
.tree-table .diff.positive {
  color: var(--color-budget-positive);
}
.two-currencies {
  font-size: 0.9em;
}
.two-currencies .num {
  width: 8em;
}
.two-currencies .other {
  width: 11em;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/BarChart.esbuild-svelte-fake-css */
.category.faded.svelte-1bdys3h.svelte-1bdys3h {
  opacity: 0.5;
}
rect.svelte-1bdys3h.svelte-1bdys3h {
  cursor: pointer;
}
.budget.svelte-1bdys3h rect.svelte-1bdys3h {
  fill: none;
  stroke: black;
  stroke-dasharray: 2;
  stroke-opacity: 0.5;
  stroke-width: 1;
}
.net.svelte-1bdys3h rect.svelte-1bdys3h {
  opacity: 0.4;
}
.net.highlighted.svelte-1bdys3h rect.svelte-1bdys3h {
  opacity: 0.8;
}
.desaturate.svelte-1bdys3h.svelte-1bdys3h {
  filter: saturate(50%);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/ChartLegend.esbuild-svelte-fake-css */
span.svelte-1unp29f,
i.svelte-1unp29f {
  display: inline-block;
}
i.svelte-1unp29f {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 10px;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/Sunburst.esbuild-svelte-fake-css */
.half.svelte-1as0v9d {
  opacity: 0.5;
}
.account.svelte-1as0v9d {
  fill: var(--color-text);
}
.balance.svelte-1as0v9d {
  font-family: var(--font-family-monospaced);
}
path.svelte-1as0v9d {
  cursor: pointer;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/Treemap.esbuild-svelte-fake-css */
svg.svelte-g00sj0 {
  shape-rendering: crispEdges;
}
text.svelte-g00sj0 {
  cursor: pointer;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/LineChart.esbuild-svelte-fake-css */
svg.svelte-mm67qx > g.svelte-mm67qx {
  pointer-events: all;
}
.lines.svelte-mm67qx path.svelte-mm67qx {
  fill: none;
  stroke-width: 2px;
}
.area.svelte-mm67qx path.svelte-mm67qx {
  opacity: 0.3;
}
.desaturate.svelte-mm67qx.svelte-mm67qx {
  filter: saturate(50%);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/ScatterPlot.esbuild-svelte-fake-css */
svg.svelte-15vmmxo > g.svelte-15vmmxo {
  pointer-events: all;
}
.desaturate.svelte-15vmmxo.svelte-15vmmxo {
  filter: saturate(50%);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/charts/ChartSwitcher.esbuild-svelte-fake-css */
div.svelte-zrq527.svelte-zrq527 {
  margin-bottom: 1.5em;
  font-size: 1em;
  color: var(--color-text-lightest);
  text-align: center;
}
span.svelte-zrq527.svelte-zrq527 {
  padding: 0 0.5em;
  cursor: pointer;
}
span.svelte-zrq527 + span.svelte-zrq527 {
  border-left: 1px solid var(--color-text-lighter);
}
span.selected.svelte-zrq527.svelte-zrq527,
span.svelte-zrq527.svelte-zrq527:hover {
  color: var(--color-text-lighter);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/AutocompleteInput.esbuild-svelte-fake-css */
span.svelte-11ahi2m {
  position: relative;
  display: inline-block;
}
input.svelte-11ahi2m {
  width: 100%;
}
ul.svelte-11ahi2m {
  position: fixed;
  z-index: var(--z-index-autocomplete);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-background);
  border: 1px solid var(--color-background-darkest);
  box-shadow: 0 3px 3px var(--color-background-darker);
}
li.svelte-11ahi2m {
  min-width: 8rem;
  padding: 0 0.5em;
  white-space: nowrap;
  cursor: pointer;
}
li.selected.svelte-11ahi2m,
li.svelte-11ahi2m:hover {
  color: var(--color-background);
  background-color: var(--color-links);
}
button.svelte-11ahi2m {
  position: absolute;
  top: 8px;
  right: 4px;
  background: transparent;
}
li.svelte-11ahi2m span {
  height: 1.2em;
  padding: 0 0.05em;
  margin: 0 -0.05em;
  background-color: var(--color-autocomplete-match);
  border-radius: 2px;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/modals/ModalBase.esbuild-svelte-fake-css */
.background.svelte-radrxh {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: var(--overlay-wrapper-background);
}
.overlay.svelte-radrxh {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content.svelte-radrxh {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 767px;
  max-height: 100%;
  padding: 1em;
  margin: 0.5em;
  background: var(--color-background);
  box-shadow: 0 0 20px var(--overlay-wrapper-background);
}
.close.svelte-radrxh {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  margin: 0;
  line-height: 1em;
  color: var(--color-text-lighter);
}
.content.svelte-radrxh form,
.content.svelte-radrxh > div {
  width: 100%;
}
.content.svelte-radrxh .fieldset {
  margin-bottom: 6px;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/documents/Accounts.esbuild-svelte-fake-css */
ul.svelte-12i5647.svelte-12i5647 {
  padding: 0 0 0 0.5em;
}
p.svelte-12i5647.svelte-12i5647 {
  margin-bottom: -1px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--color-table-border);
}
.count.svelte-12i5647.svelte-12i5647 {
  opacity: 0.6;
}
.selected.svelte-12i5647.svelte-12i5647,
.drag.svelte-12i5647.svelte-12i5647 {
  background-color: var(--color-table-header-background);
}
.toggle.svelte-12i5647.svelte-12i5647 {
  color: var(--color-treetable-expander);
  visibility: hidden;
}
.has-children.svelte-12i5647 > .toggle.svelte-12i5647 {
  visibility: visible;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/editor/Editor.esbuild-svelte-fake-css */
div.svelte-qz4e0i {
  width: 100%;
  height: 100%;
}
div.svelte-qz4e0i .cm-wrap {
  width: 100%;
  height: 100%;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/documents/DocumentPreview.esbuild-svelte-fake-css */
object.svelte-z0wf89,
img.svelte-z0wf89,
iframe.svelte-z0wf89 {
  width: 100%;
  height: 100%;
}
img.svelte-z0wf89 {
  object-fit: contain;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/documents/Table.esbuild-svelte-fake-css */
table.svelte-1gus9z9 {
  width: 100%;
}
tr.svelte-1gus9z9 {
  cursor: pointer;
}
.selected.svelte-1gus9z9,
tr.svelte-1gus9z9:hover {
  background-color: var(--color-table-header-background);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/documents/Documents.esbuild-svelte-fake-css */
.fixed-fullsize-container.svelte-11pwv1r {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}
.fixed-fullsize-container.svelte-11pwv1r > * {
  height: 100%;
  overflow: auto;
  resize: horizontal;
}
.fixed-fullsize-container.svelte-11pwv1r > * + * {
  border-left: thin solid var(--color-sidebar-border);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/editor/EditorMenu.esbuild-svelte-fake-css */
.fieldset.svelte-hufjkl.svelte-hufjkl {
  height: 3rem;
  background: var(--color-sidebar-background);
  border-bottom: 1px solid var(--color-sidebar-border);
}
.dropdown.svelte-hufjkl.svelte-hufjkl {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
  height: 100%;
  margin-right: 0.5rem;
}
.selected.svelte-hufjkl.svelte-hufjkl::before {
  content: "\203a";
}
li.svelte-hufjkl.svelte-hufjkl {
  padding: 2px 10px;
  cursor: pointer;
}
li.svelte-hufjkl span.svelte-hufjkl {
  float: right;
}
.dropdown.svelte-hufjkl > span.svelte-hufjkl {
  padding: 0.7rem 0.5rem;
  cursor: pointer;
}
.dropdown.svelte-hufjkl > span.svelte-hufjkl::after {
  content: "\25be";
}
ul.svelte-hufjkl.svelte-hufjkl {
  position: absolute;
  z-index: var(--z-index-floating-ui);
  display: none;
  width: 500px;
  max-height: 400px;
  margin: 0.75rem 0 0 -0.5rem;
  overflow-y: auto;
  background-color: var(--color-background);
  border: 1px solid var(--color-background-darker);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 3px 6px var(--color-transparent-black);
}
li.svelte-hufjkl.svelte-hufjkl:hover,
span.svelte-hufjkl.svelte-hufjkl:hover {
  background-color: var(--color-background-darkest);
}
span.svelte-hufjkl:hover > ul.svelte-hufjkl {
  display: block;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/editor/SourceEditor.esbuild-svelte-fake-css */
form.svelte-85li6m {
  display: flex;
  flex-direction: column;
}
form.svelte-85li6m .cm-wrap {
  flex: 1;
  width: 100%;
  height: calc(100% - 3rem);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/header/FilterForm.esbuild-svelte-fake-css */
form.svelte-17yle32 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
  margin: 0;
  color: var(--color-text);
  --color-placeholder:var(--color-header-tinted);
  --background-placeholder:var(--color-header-light);
}
form.svelte-17yle32 > span {
  max-width: 18rem;
  margin: 0 4px 6px 0;
}
form.svelte-17yle32 > span:focus-within {
  max-width: 48rem;
}
form.svelte-17yle32 input {
  padding: 8px 25px 8px 10px;
  background-color: var(--color-background);
  border: 0;
  outline: none;
}
form.svelte-17yle32 [type=text]:focus {
  background-color: var(--color-background);
}
[type=submit].svelte-17yle32 {
  display: none;
}
@media print {
  form.svelte-17yle32 {
    display: none;
  }
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/entry-forms/EntryMetadata.esbuild-svelte-fake-css */
div.svelte-1v6bu4l {
  padding-left: 56px;
  font-size: 0.8em;
}
input.key.svelte-1v6bu4l {
  width: 10em;
}
input.value.svelte-1v6bu4l {
  flex-grow: 1;
  max-width: 15em;
}
@media (max-width: 767px) {
  div.svelte-1v6bu4l {
    padding-left: 0;
  }
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/entry-forms/Balance.esbuild-svelte-fake-css */
div.svelte-unorr4 .currency {
  width: 6em;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/entry-forms/Note.esbuild-svelte-fake-css */
textarea.svelte-s9o1z4 {
  flex-grow: 1;
  width: 100%;
  padding: 8px;
  font: inherit;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/entry-forms/Posting.esbuild-svelte-fake-css */
.drag.svelte-164exxa.svelte-164exxa {
  box-shadow: 0 0 5px var(--color-text);
}
div.svelte-164exxa.svelte-164exxa {
  padding-left: 50px;
  cursor: grab;
}
div.svelte-164exxa > .svelte-164exxa {
  cursor: initial;
}
div.svelte-164exxa .add-row.svelte-164exxa {
  display: none;
}
div.svelte-164exxa:last-child .add-row.svelte-164exxa {
  display: initial;
}
div.svelte-164exxa .amount {
  width: 220px;
}
div.svelte-164exxa:last-child .amount {
  width: 192px;
}
@media (max-width: 767px) {
  div.svelte-164exxa.svelte-164exxa {
    padding-left: 0;
  }
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/entry-forms/Transaction.esbuild-svelte-fake-css */
input[name=flag].svelte-12mv83z.svelte-12mv83z {
  width: 1.5em;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
}
div.svelte-12mv83z .payee {
  flex-basis: 100px;
  flex-grow: 1;
}
input[name=narration].svelte-12mv83z.svelte-12mv83z {
  flex-basis: 200px;
  flex-grow: 1;
}
label.svelte-12mv83z > span.svelte-12mv83z:first-child,
.label.svelte-12mv83z > span.svelte-12mv83z:first-child {
  display: none;
}
@media (max-width: 767px) {
  label.svelte-12mv83z > span.svelte-12mv83z:first-child,
  .label.svelte-12mv83z > span.svelte-12mv83z:first-child {
    display: initial;
    width: 100%;
  }
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/import/Extract.esbuild-svelte-fake-css */
pre.svelte-kordbm {
  font-size: 0.9em;
  white-space: pre-wrap;
}
.duplicate.svelte-kordbm {
  opacity: 0.5;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/import/FileList.esbuild-svelte-fake-css */
.header.svelte-1filb45.svelte-1filb45 {
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: var(--color-sidebar-background);
}
.header.svelte-1filb45 button.svelte-1filb45 {
  float: right;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/import/Import.esbuild-svelte-fake-css */
.fixed-fullsize-container.svelte-swe11g.svelte-swe11g {
  display: flex;
  align-items: stretch;
}
.fixed-fullsize-container.svelte-swe11g > .svelte-swe11g {
  flex: 1 1 40%;
  overflow: auto;
}
.filelist.svelte-swe11g.svelte-swe11g {
  padding: 1rem;
}
.importable-files.svelte-swe11g.svelte-swe11g {
  padding-bottom: 0.8rem;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/editor/SliceEditor.esbuild-svelte-fake-css */
form.svelte-15wi69u .cm-wrap {
  margin-bottom: 0.5rem;
  border: 1px solid var(--color-sidebar-border);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/modals/DocumentUpload.esbuild-svelte-fake-css */
input.file.svelte-1abgzj0 {
  width: 100%;
}
.fieldset.svelte-1abgzj0 {
  display: "block";
}
.fieldset.svelte-1abgzj0 span:first-child {
  margin-right: 8px;
}
.fieldset.account.svelte-1abgzj0 span:last-child {
  min-width: 25rem;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/query/QueryEditor.esbuild-svelte-fake-css */
form.svelte-vjktbq {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}
button.svelte-vjktbq {
  margin: 0;
}
div.svelte-vjktbq {
  flex-grow: 1;
  width: 100%;
  height: auto;
  margin-right: 0.5em;
  font-size: 16px;
  border: 1px solid var(--color-background-darker);
}
form.svelte-vjktbq .cm-wrap {
  width: 100%;
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/query/QueryLinks.esbuild-svelte-fake-css */
span.svelte-1j4mih2 {
  color: var(--color-text-lighter);
}

/* fakecss:/Users/xinlu/Dropbox/codes/fava/frontend/src/query/Query.esbuild-svelte-fake-css */
details.svelte-yulyqv > div.svelte-yulyqv {
  max-height: 80vh;
  overflow: auto;
}
div.svelte-yulyqv .query-error {
  font-family: var(--font-family-monospaced);
  color: var(--color-background);
  background: var(--color-error);
}
